/* stylelint-disable selector-list-comma-newline-after */

body {
 background-color:#222;
}

.blog-header {
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: -Poppins, sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
    text-decoration:none;
    text-transform:uppercase;
}
.topofpage {
    height:50px;
}

a {
    text-decoration:none;
}

a:hover {
    color:aqua;
    font-weight:900;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman",
        serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}
@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.nav-links  {
    color:gray;
    font-family:poppins;
    font-weight:900;
    font-size:1em;
    display:block;
    float:left;

}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.lead .goback a:hover {
    color:lawngreen;
}

.goback:hover {
    color:lawngreen;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
